*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Be Vietnam pro", sans-serif;
    scroll-behavior: smooth;
}

#wrapper{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.navbar{
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 1rem; 
}
.logo{
    width:400px;
    max-width: 90%;
    margin-left: -145px;
}
.logocontainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0.1rem;
}
.logotext{
    margin-left: -9.3rem;
    font-size: 40px;
}
.nav-items div{
    font-size: 28px;
    font-weight: 200;
    cursor: pointer;
}

.nav-items div a{
    color: black;
}

a{
    text-decoration: none;
}

.nav-items div:hover{
  font-weight: bold;
  /* transition: 1s; */
}

.hero-section{
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 5rem;
}

.hero-section-heading{
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-display: fallback;
}

.faded-text{
    -webkit-user-select: none;
    user-select: none;
    font-size: 5em;
    color: rgb(117, 120, 120);
    bottom: -7.7%;
    left: -10%;
    font-weight: bold;
    transition: all 3s;
}

/* .utkarsh{
  width: 100%;
  max-width: 300px;
  height: auto;
} */

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.hero-section-right{
    font-size: 50px;
    color: rgb(76, 76, 239);
    font-weight: 700;
}

.role{
    color: rgb(245, 4, 40);
    font-weight: 1000;
}

.hero-section-sub-heading{
    font-size: clamp(30px, 5vw, 80px);
    line-height: 65px;
}

.hero-section-discription{
    font-size: clamp(16px, 2.3vw, 30px);
  width: 100%;
    margin-top: 1rem;
    font-weight: 700;
}

.image{
  bottom: 10%;
}

.btn-pink{
background-color: orangered;
color: rgb(255, 255, 255);
width: fit-content;
color: rgb(255, 255, 255);
padding: 0.8rem 2.3rem;
box-shadow: 5px 5px 7px 0px O#0000003f;
font-size: 18px;
cursor: pointer;
transition: all 0,5s;
display: inline-flex;
align-items:center;
gap: 10px;
font-weight: 500;
border: solid 3px transparent;
position: relative;
z-index: 1;
}

.linkedin-icon{
  position: relative;
  width: 24px;
  height: 24px;
}

.linkedin-icon .icons8-linkedin-2-301.png {
 position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  border-radius: 4px;
}

.icons8-linkedin-2-30.gif{
  opacity: 0;
}

.icons8-linkedin-2-30.gif:hover{
  opacity: 1;}

  .icons8-linkedin-2-301.png:hover{
    opacity: 0;
  }

.btn-pink::before{
content: "";
position: absolute;
color: rgb(0, 0, 0);
background-color: flickerColors;
top: 0px;
left: 0;
right: 0;
bottom: 0px;
z-index: -1;
transform: scaleX(0);
transform-origin: left;
transition: all 0.8s;
}
.btn-pink:hover::before {
transform: scaleX(1);
color: rgb(0, 0, 0);
}

.btn-pink:hover {
  animation: flickerColors 1s steps(5) infinite;
  color: rgb(255, 255, 255);
}

@keyframes flickerColors {
  0% { background-color: #ff4500; }
  20% { background-color: #ff1493; }
  40% { background-color: #1e90ff; }
  60% { background-color: #32cd32; }
  80% { background-color: #ffff00; }
  100% { background-color: #000000; }
}
/* .container{
    height: 970px;
    width: 100%;
    background-color: rgb(235, 98, 7);
    border: 2px solid darkcyan;
    justify-content: center;
    align-items: center;
} */

/* .box{
    text-align: center;
    box-shadow: 100px grey;
    height: 30px;
    width: 80px;
    margin: 400px;
    padding: 10px 10px 0px 10px ;
   justify-self: center;
   background-color: rgb(142, 251, 0);
   position: relative;
   z-index: 1;
   box-shadow: 20% grey;
   border-radius: 20px;
} */
.box::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   transform:scaleX(0);
   background-color: rgb(255, 255, 255);
   transform-origin: left;
   z-index: -1;
}

.btn-pink:hover::before{
    background-color: rgb(0, 0, 0);
    color: #000000;
    transform:scaleX(1);
    transition-duration: 1s;
    z-index: -1;
    border-radius: 0px;
}

.hero-section-right{
    position: relative;
}

.absolute{
    position: absolute;
}

.utkarsh{
    height: 500px;
    width: 300px;
    object-fit:cover;
}

.user-image{
    padding: 3rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleimage 5s linear infinite;
}

.user-image{
    z-index: -6;

}

@keyframes scaleimage {
    
    0%{
         filter: grayscale(0);
         transform: scale(0.9);
    }

    50%{
         filter: grayscale(1);
         transform: scale(1);
    }

    100%{
          filter: grayscale(1);
         transform: scale(0.9);
         box-shadow: 5px 5px 15px black;
    }
}

.icon-dots{
    z-index: 1;
    bottom: 2rem;
    /* right: 0; */
    left: 7em;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    scale: 1.4;
}

@keyframes dotsAnimation{
    0%{
         transform: translateY(0px);
    }

    50%{
         transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
    }
}

.icon-cube{
    z-index: 2;
    scale: 1.3;
    top: 1em;
    right: 1.5em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotate{
    0%{
         transform: rotateY(0deg) translateY(0px);
    }

    50%{
          transform: rotateY(180deg) translateY(-35px);
    }

    100%{
          transform: rotateY(360deg) translateY(0px);
    }
}

.icon-circle{
    z-index: 8;
    left: 4rem;
    bottom:150px;
    animation-name: shakeEffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    scale: 1.7;
}

@keyframes shakeEffect{
      50%{
        left: 1px;;
        bottom: 1px;
      }
}

.icon-zigzag{
    z-index: 10;
    top:3rem;
    /* bottom: 2rem; */
    left: 6rem;
    animation: zigzagAnimation 5s ease-in infinite;
    scale: -100px;
}

@keyframes zigzagAnimation{
    50%{
        left: 1rem;
        top: 1rem;
    }
}


.icon-plus{
z-index:11;
top :- 0.8rem;
left: 50%;
animation: shakeEffectPlus 4s linear infinite;
transition: all 1s;
}

@keyframes shakeEffectPlus {

50%
{
    top: 7%;
    left: 48%;
   }
 }


/* ----------->  Project section  <------------ */




.project-section{
    margin-top: 4rem;
  background-color: #dedede;
}

.page-header{
    color: #e84949;
  font-size: 90px;
  line-height: 75px;
  padding: 50px 0 30px;
  text-align: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 100%;
  height: auto;
}

#project1 {
  background-image: url(Project1.png);
  right: 5%;
}

#project2 {
  background-image: url(Project2.png);
  left: 5%;
}

#project3 {
  background-image: url(Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(Project4.png);
  left: 5%;
}

.project-card {
  width: 80%;
  height: 650px;
  /* aspect-ratio: 1/1; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  margin: 2rem auto;
  z-index: 2;
}

.project-card::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  transition: 0.5s all;
  transform-origin: left;
  transform: scaleX(0);
}

.project-card:hover::before{
  transform: scaleX(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: #fff;
  display: none;
  z-index: 10;
  transition: 0.8s;
}

.project-number-right{
  top: -45px;
  right: -45px;
}

.project-number-left {
  top: -45px;
  left: -45px;
}

.project-card:hover .project-number {
  display: block;
}

.project-card::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  padding: 2em;
  top: 29%;
  bottom:0%;
  position: relative; 
  z-index: 5;
  transition: all 0.4s;
}

.project-content-left{
  left: 5%;
}

.project-content-right {
  right: 0%;
  left: 45%;
}

.project-skills-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1em;
}

.project-skill {
  width: 40px;
}

.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
  right: 100rem;

}


.project-subHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.project-card:hover .project-content {
  transform: scale(1.1);
}

.btn-grp {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btn-grp .btn-project {
  border: none;
  outline: none;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: #e84949;
}



/* ----------->  skill section  <------------ */



.skill-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.left-skill-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.skill-heading {
  color: #e84949;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
}

.skill-heading span {
  font-size: 110px;
}

.skill-sub-heading {
  margin-top: 2rem;
  width: 90%;
  text-align: justify;
  font-size: 20px;
}
.skill-sub-heading p {
  margin: 15px 0;
}
.right-skill-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  justify-content: center;
}

.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: blob-animation 3s linear infinite;
}

@keyframes blob-animation {
  50% {
    top: 54%;
    left: 46%;
  }
}

.skills-logo {
  width: 100px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}

.skill-faded-text {
  font-size: 12em;
  right: -9%;
  bottom: -35%;
  -webkit-user-select: none;
  user-select: none;
  color: #e7e7e7;
  font-weight: bold;
}



/* ----------->  Contact me section  <------------ */



.contact-me-section {
  width: 100%;
  background-color: #e7e7e7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container h2 {
  font-size: 5em;
  padding-top: 2rem;
  color: #e84949;
}

.container h3 {
  font-size: 3em;
  color: #343d68aa;
}

.contact-us-form {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.contact-us-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 800px;
  max-width: 90%;
}



.form-field {
  width: 100%;
  height: 50px;
  padding: 0 3rem;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  background: #ffffff97;
  font-weight: 500;
  
}

.form-field:focus {
  border: none;
}


.form-field-container textarea {
  height: auto;
  padding-top: 1rem;
 
}

.form-btn .btn-pink {
  transition: 0.5s;
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
  background-color: orangered;
}

.form-btn .btn-pink:hover {
  transform: scale(0.9);
}

.form-btn .btn-pink i {
  padding: 0 1rem;
  font-size: 1.5rem;
}


/* ----------->  Footer section  <------------ */


footer {
  background: #343d68;
  position: relative;
  padding: 5rem;
}

.footer-faded-text {
  font-size: 5em;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  -webkit-user-select: none;
  user-select: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
}

.link-container {
  display: flex;
  gap: 1.2em;
  font-size: 1.4rem;
}

.link-container div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}

.link-container div a:hover{
  color: #e84949;
}

.icon-container{
  display: flex;
  gap: 1rem;
}